@media (max-width: 900px) {
    .container {
        max-width: 36rem;
        padding: 0 1.6rem;
    }
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
        &__container {
            max-width: none;
            padding: 0;
        }
        &__inner {
            align-items: center;
        }
        &__menu {
            display: none;
        }
        &__logo {
            width: 6.6rem;
            height: 5.6rem;
            margin: 0;
            &::after {
                display: none;
            }
        }
    }
    .burger-menu {
        min-width: 8rem;
        position: static;
    }

    .languages {
        display: none;
    }

    .mobile-login {
        min-width: 8rem;
        display: block;
    }

    .first-frame {
        margin-top: 7.9rem;
        &__inner {
            &::after {
                width: 15rem;
                height: 40rem;
                background-image: url(../assets/images/mobile-flower_stroke.png);
                top: -15rem;
                right: -1.5rem;
            }
        }
        &__info {
            max-width: none;
            margin-bottom: 3.9rem;
        }
        &__heading {
            margin-bottom: 3rem;
        }
        &__title {
            margin-bottom: 2.8rem;
            line-height: 7.2rem;
            font-size: 6.4rem;
        }
        &__text {
            font-size: 2rem;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__buttons-wrapper {
            margin-bottom: 4.8rem;
        }
        &__button {
            width: 15.4rem;
            margin-right: 1.6rem;
        }
        &__line {
            display: none;
        }
        &__menu {
            display: none;
        }
        &__image {
            display: none;
        }
        &__image_mobile {
            display: block;
        }
    }

    .weather {
        display: none;
    }

    .choose {
        margin-top: 3.5rem;
        &__title {
            font-size: 2.4rem;
            margin-bottom: 1.3rem;
        }
        &__form {
            flex-direction: column;
            padding-bottom: 1.6rem;
        }
        &__form-input {
            width: 31.2rem !important;
            max-width: 31.2rem;
            margin-bottom: 0.8rem;
            margin-right: 0;
            background-position: right 2.5rem center;
            &:nth-child(2) {
                background-position: right 2rem center;
            }
            &:nth-child(3) {
                margin-bottom: 1.6rem;
                background-position: right 2rem center;
            }
        }
        &__form-text,
        &__form-option {
            max-width: calc(100% - 5rem);
            white-space: nowrap;
            overflow: hidden;
        }
        &__form-button {
            width: 100%;
            height: 6.4rem;
            border-radius: 0.8rem;
            position: static;
        }
    }

    .specification {
        margin-top: 3.2rem;
        &__categories {
            width: calc(100% + 1.6rem);
            overflow-x: hidden;
        }
        &__menu-list {
            white-space: nowrap;
        }
        &__button {
            display: none;
        }
        &__content {
            width: 100%;
            flex-direction: column;
        }
        &__item {
            min-width: 100%;
            margin-bottom: 3.2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__item-image {
            width: 100%;
            height: 100%;
        }
    }

    .information {
        margin-top: 7.2rem;
        &::before {
            display: none;
        }
        &::after {
            width: 21.3rem;
            height: 34.5rem;
            bottom: -24.7rem;
        }
        &__title {
            padding-top: 7.1rem;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
        &__icon {
            width: 3.7rem;
            height: 2.4rem;
            margin: 2.5rem auto;
        }
    }

    .allinclusive {
        margin: 0;
        margin-top: 12rem;
        padding-bottom: 2.4rem;
        background-image: none;
        &__inner {
            padding-top: 1.9rem;
            padding-bottom: 0;
        }
        &__wrapper {
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.4rem;
        }
        &__title {
            font-size: 2.4rem;
        }
        &__slide {
            flex-direction: column;
            align-items: flex-start;
        }
        &__slide-item {
            max-width: 32.8rem;
            min-width: 32.8rem;
            margin-bottom: 4rem;
            &:first-child {
                min-width: 32.8rem;
                max-width: 32.8rem;
            }
        }
        &__item-image {
            width: 100%;
            height: 23.2rem;
        }
        &__item-image_mobile {
            display: block;
            margin-bottom: 2.2rem;
        }
        &__slide-wrapper-subtitle,
        &__slide-wrapper-title {
            display: none;
        }
        &__slide-item_colored {
            padding: 0;
            margin-bottom: 0;
            box-shadow: none;
            background-color: transparent;
            border-radius: 0.8rem;
            position: static;
        }
        &__slide-item_colored .allinclusive__item-image {
           display: none;
        }
    }

    .tablet {
        min-height: 41.6rem;
        overflow: hidden;
        margin: 0;
        background-image: none;
        &::before {
            content: "";
            width: 36.5rem;
            height: 88rem;
            background-image: url(../assets/images/info-bg-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: -14rem;
            left: 0;
        }
        &__image {
            display: none;
        }
        &__logo {
            bottom: 21.6rem;
        }
    }
}