@import "vars";
@mixin head__text {
    text-transform: uppercase;
    font: {
        family: "Euclid Circular B Medium";
        weight: 500;
        size: 1.4rem;
    }
    letter-spacing: 0.12rem;
    line-height: 2.4rem;
    color: $main-color;
}
@mixin titles {
    line-height: 9.6rem;
    font: {
        family: "SangBleu Kingdom Regular";
        weight: 400;
    }
}
@mixin subtitles {
    line-height: 5.6rem;
    font: {
        family: "SangBleu Kingdom Bold";
        weight: 700;
    }
}
@mixin button {
    width: 20rem;
    line-height: 0.5rem;
    padding: 2.8rem 1rem;
    background-color: transparent;
    border: 0.1rem solid $second-main-color;
    border-radius: 0.8rem;
}
@mixin circle-arrow-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 2.2rem 1.2rem;
    background-position: center;
    margin-right: 1.6rem;
    &:last-child {
        margin-right: 0;
    }
}

@mixin semicircle {
    position: relative;
    &::after {
        content: "";
        background-color: rgb(0, 0, 0, 0.56);
        border-radius: 0 100% 0 0;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
}