.allinclusive {
    margin: 0 2.4rem;
    margin-top: 9.6rem;
    border-radius: 2.4rem;
    background-color: #f6f6f6;
    background-image: url(../assets/images/allinclusive-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &__inner {
        padding: 7.7rem 0 7.2rem;
        position: relative;
    }
    &__wrapper {
        margin-bottom: 5rem;
        display: flex;
        align-items: flex-end;
    }
    &__title {
        @include subtitles;
        margin-right: 3.2rem;
        font-size: 6.4rem;
        color: $main-color;
    }
    &__button {
        @include circle-arrow-button;
        background-color: $second-main-color;
    }
    &__button_left {
        background-image: url(../assets/images/icons/arrow-left-white.svg);
    }
    &__button_right {
        background-image: url(../assets/images/icons/arrow-right-white.svg);
    }
    &__slide {
        display: flex;
        align-items: flex-start;
    }
    &__slide-item {
        &:first-child {
            max-width: 56rem;
            min-width: 56rem;
            padding-top: 0.9rem;
            margin-right: 4rem;
        }
    }
    &__slide-item_colored {
        max-width: 27.6rem;
        min-width: 27.6rem;
        padding: 0.8rem 0.8rem 1.6rem;
        background-color: #fff;
        box-shadow: 0px 0.8rem 1.6rem rgba(142, 124, 78, 0.16);
        border-radius: 0.8rem;
        position: absolute;
        top: 8rem;
        right: -0.8rem;
    }
    &__slide-item_colored .allinclusive__item-image {
        margin-bottom: 1.4rem;
    }
    &__item-image {
        margin-bottom: 2.2rem;
        border-radius: 0.8rem;
    }
    &__item-image_mobile {
        display: none;
        height: 23.2rem;
    }
    &__item-text {
        padding: 0 1.6rem;
        margin-bottom: 1rem;
        line-height: 2.4rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 1.6rem;
        }
        color: $main-color;
    }
    &__item-link {
        @include head__text;
        padding: 0 1.6rem;
        font-family: "Euclid Circular B SemiBold";
        font-weight: 600;
        font-size: 1rem;
        color: #ab955e;
        position: relative;
        &::after {
            content: "";
            width: 1.6rem;
            height: 0.2rem;
            background-color: #ab955e;
            position: absolute;
            top: 50%;
            right: -0.8rem;
            transform: translateY(-50%);
        }
    }
    &__slide-wrapper {
        max-width: 26rem;
        min-width: 26rem;
        margin-right: 3.2rem;
    }
    &__slide-wrapper-subtitle {
        @include head__text;
        margin-bottom: 2.4rem;
        color: #999999;
    }
    &__slide-wrapper-title {
        margin-bottom: 5.8rem;
        line-height: 3.2rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 2.4rem;
        }
        color: $main-color;
    }
}