.choose {
    margin-top: 8.6rem;
    &__title {
        @include subtitles;
        margin-bottom: 5rem;
        font-size: 4rem;
        color: $main-color;
    }
    &__form {
        width: 100%;
        padding: 0.8rem;
        display: flex;
        background-color: #f6f6f6;
        border-radius: 0.8rem;
        position: relative;
    }
    &__form-input {
        height: 6.4rem;
        display: flex;
        align-items: center;
        padding: 1.2rem 1.6rem;
        margin-right: 0.8rem;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 1.3rem center;
        border: 0.1rem solid #e3e3e3;
        cursor: pointer;
        &:nth-child(1) {
            width: 32.8rem;
            background-image: url(../assets/images/icons/min-arrow-down.svg);
            background-size: 1rem 0.5rem;
        }
        &:nth-child(2) {
            width: 26.4rem;
            background-image: url(../assets/images/icons/calendar.svg);
            background-size: 2.3rem 2.2rem;
        }
        &:nth-child(3) {
            width: 39.2rem;
            background-image: url(../assets/images/icons/Subtract.svg);
            background-size: 2rem 2.2rem;
        }
    }
    &__form-select {
        outline: none;
        appearance: none;
        line-height: 2.4rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 1.6rem;
        }
        color: #333333;
    }
    &__form-text {
        line-height: 2.4rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 1.6rem;
        }
        color: #333333;
    }
    &__form-button {
        width: 14.4rem;
        height: 8rem;
        background-color: $main-color;
        border-radius: 0 0.8rem 0.8rem 0;
        padding: 1rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 2.4rem;
        }
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.specification {
    margin-top: 3.6rem;
    &__categories {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        border-bottom: $main-border;
    }
    &__menu-list {
        margin-right: 4.8rem;
        padding-bottom: 1rem;
    }
    &__menu-list_active {
        color: #bca56a;
        border-bottom: 0.2rem solid #bca56a;
    }
    &__button {
        @include circle-arrow-button;
        height: 3.5rem;
        background-color: transparent;
    }
    &__button_left_arrow {
        background-image: url(../assets/images/icons/arrow-left.svg);
    }
    &__button_right_arrow {
        background-image: url(../assets/images/icons/arrow-right.svg);
    }
    &__content {
        width: calc(100% + 14rem);
        overflow-x: hidden;
        display: flex;
        flex-wrap: nowrap;
    }
    &__item {
        @include semicircle;
        min-width: 36rem;
        max-width: 36rem;
        min-height: 23.2rem;
        max-height: 23.2rem;
        overflow: hidden;
        margin-right: 4rem;
        border-radius: 0.8rem;
        &:last-child {
            margin-right: 0;
        }
        &::after {
            width: 19.7rem;
            height: 16.8rem;
        }
    }
    &__item-image {
        border-radius: 0.8rem;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__item-information {
        color: #fff;
        position: absolute;
        left: 2.4rem;
        bottom: 1.7rem;
        z-index: 2;
    }
    &__item-discount {
        margin-bottom: 0.8rem;
        line-height: 3.2rem;
        font: {
            family: "Euclid Circular A SemiBold";
            weight: 600;
            size: 2.4rem;
        }
    }
    &__item-text {
        line-height: 3.2rem;
        font: {
            family: "Euclid Circular B Light";
            weight: 300;
            size: 2.4rem;
        }
    }
}